.add-option-error {
  color: $off-white;
  font-style: italic;
  text-align: center;
  padding: 0 $m-size;
}

.add-option {
  padding: $m-size;
  display: flex;
  flex-direction: column;
}

.add-option--input {
  width: auto;
  background: darken($blue, 10%);
  border: none;
  border-bottom: 4px solid darken($light-blue, 10%);
  flex-grow: 1;
  color: $off-white;
  padding: $m-size;
}

@media (min-width: 45rem) {
  .add-option {
    flex-direction: row;
  }
  .add-option--input {
    margin: 0 $m-size 0 0;
  }
}
